/************** MAIN COLORS ***********/

//main colors
$black: rgb(0 0 0);
$white: rgb(255, 255, 255);
$grey: rgb(241 241 241);

// grey precentages
$mist: rgba(242, 242, 242, 1);
$smoke: rgba(229, 229, 229, 1);
$silver: rgba(171, 171, 171, 1);
$iron: rgba(114, 114, 117, 1);
$slate: rgba(86, 86, 89, 1);
$charcoal: rgba(58, 58, 62, 1);
$dark: rgba(27, 34, 38, 1);
$obsidian: rgba(22, 27, 30, 1);
$night: rgba(17, 17, 17, 1);

// Reds
$red-100: rgba(223, 28, 22, 1);
$red-80:rgba(229, 73, 69, 1);
$red-60: rgba(236, 119, 115, 1);

// Blue
$blue: rgba(94, 163, 255, 1);
$ocean: rgba(37, 111, 210, 1);