// import roboto mono
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');

html{
	font-size: 62.5%; /* 1.6rem = 16px */
	
}

body {
	font-family: 'Hind', sans-serif;
	color: $dark;
	font-size: 1.4rem;
	line-height: 1.40;
	letter-spacing: 0px;
	font-weight: 400;
}

.font-3XL,
.font-XXL,
.font-XL,
.font-L {
	font-family: 'Montserrat', sans-serif;
}

.font-3XL {
	font-size:clamp(4.2rem, 5.86vw, 6rem );
	line-height: 1;
	letter-spacing: 0px;
	font-weight: 400;
}

.font-3XL--light {
	@extend .font-3XL;
	font-weight: 300;
}

.font-XXL {
	font-size:clamp(3.9rem, 5.01vw, 4.5rem );
	line-height: 1.15;
	letter-spacing: 0.2px;
	font-weight: 400;
}

.font-XXL--light {
	@extend .font-XXL;
	font-weight: 300;
}

.font-XL {
    font-size: clamp(3.3rem, 4.2vw, 3.9rem);
	line-height: 1.15;
	letter-spacing: 0.2px;
	font-weight: 400;
}

.font-XL--light {
	@extend .font-XL;
	font-weight: 300;
}

.font-L {
    font-size: clamp(2.6rem, 3.31vw, 2.8rem);
	line-height: 1.15;
	letter-spacing: 0.2px;
	font-weight: 400;
}

.font-L--light {
	@extend .font-L;
	font-weight: 300;
}

.font-L--bold {
	@extend .font-L;
	font-weight: 700;
}

.font-M {
    font-size: clamp(2rem, 2.54vw, 2.2rem);
	line-height: 1.4;
	letter-spacing: .3px;
	font-weight: 400
}

.font-M--bold {
	@extend .font-M;
	font-weight: 500;
}

.font-M--light {
	@extend .font-M;
	font-weight: 300;
}

.font-S {
    font-size: 1.4rem;
	line-height: 1.40;
	letter-spacing: -0.1px;
	font-weight: 400;
}

.font-XS {
	font-size: 1.2rem;
	line-height: 1.4;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	font-weight: 500;
}

.font-XXS {
	font-size: 0.9rem;
	line-height: 1.4;
	letter-spacing: 0.2px;
	font-weight: 400;
}

.italic {
	font-style: italic;
}


strong {
	font-weight: 500;
}

em, i {
	font-style: italic;
}