.about {
    @include grid-template;
    position: relative;
    background-color: $mist;

    @include media($l){
        &::before {
            content: "";
            width: 2px;
            height: 100%;
            background-color: $silver;
            grid-column: 2;
            grid-row: 1/3;
        }
    }

    &__title {
        grid-column: main;

        @include media($l){
            grid-column: 3/-5;
        }
    }

    &__content {
        grid-column: main;
        margin: 0px;
        @include media($m){
            grid-column: 2/-5;
        }
        @include media($l){
            grid-column: 3/-5;
        }
    }
}