.gigs {
    @include grid-template;
    background-color: $mist;


    &__container {
        grid-column: main;
    }

    h2 {
        margin-bottom: 20px;
    }

    ul {
        width: 100%;

        @include media($sm){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 20px;
        }
        li {
        }
    }
    
    &__gig {
        list-style: none;
        border-bottom: 1px solid $slate;
        padding: 10px 0px;
        
        a {
            display: grid;
            grid-template-columns: 100px 1fr;
            gap: 20px;
            
            @include media($sm){
                display: flex;
            }
        }

        
        &__date {
            width: 100px;
            @include media($sm){
                width: auto;
                &:after  {
                    content: "->";
                }
            }
        }

        &__location {
            transition: 0.2s transform ease-out;
            transform: translateX(0px);
            a:hover & {
                transform: translateX(10px);
            }
        }
    }

    button {
        margin-top: 25px;
    }

    &__pastShowsContainer {
        margin-top: 30px;
    }

    [data-toggle-gigs-shown-hide],
    [data-past-gigs] {
        display: none;
    }
}