.songModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 30px 20px;

    @keyframes animateModalIn {
        0% {
            transform: translateY(10px) translate(-50%, -50%);
            opacity: 0;
        }

        100% {
            transform: translateY(0px) translate(-50%, -50%);
            opacity: 1;
        }
    }
    &[open] {
        animation: animateModalIn 0.35s ease-out;
        display: flex;
    }

    @include media($m){
        width: 400px;
        height: auto;
        border-radius: 6px;
        flex-direction: column;
        align-items: center;
        
    }

    &__closeModal {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
        svg {
            color: black;
            width: 28px;
            height: 28px;
        }
    }

    &__buttonsContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .button {
            width: 100%;
            justify-content: center;

        }
    }

}